<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate Now</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <header>
        <nav>
            <div class="logo-container">
                <img src="{{ url_for('static', filename='mure-images/murelogo.JPG') }}" alt="Logo" class="logo">
            </div>
            <ul>
                <li><a href="{{ url_for('index') }}">Who We Are</a></li>
                <li><a href="{{ url_for('donate') }}">Donate Now</a></li>
                <li><a href="{{ url_for('getinvolved') }}">Get Involved</a></li>
                <li><a href="{{ url_for('causesandprev') }}">Causes and Prevention</a></li>
                <li><a href="{{ url_for('articles') }}">Articles</a></li>
                <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
            </ul>
        </nav>
    </header>

    <section class="donate-section">
        <div>
            <h1>Donate Now</h1>
            <p>Sorry, we currently don't have anything set up right now. Come back later!</p>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Melanoma Understanding Research and Education.</p>
    </footer>
</body>
</html>

